server:
  port: 8888
  
spring:
  application:
    name: GATEWAY-SERVICE
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
      - id: TRAIN-SERVICE
        uri: lb://TRAIN-SERVICE
        predicates:
        - Path=/trains/**
      - id: ADMIN-SERVICE
        uri: lb://ADMIN-SERVICE
        predicates:
        - Path=/admin/**
          

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    